<DOCTYPE HTML>
{% load staticfiles %}
<html>
<head>
    <title>比赛页面</title>
    <script src="http://libs.baidu.com/jquery/1.10.2/jquery.min.js"> </script>
    <script src="{% static "js/competition.js/" %}"> </script>
</head>
<body onload="startTime()" >
    <div id="timer"> </div>
    <input id="end" type="submit" value="交卷"/>
    <ol>
    {% for qt in qt_list %}
    <li>{{qt.question}}</li>
    <form action="/verify/" method="post">
    <b><em>答案</em></b>
    <input type="text" name="ans" id="" onfocus="change_color(this)" onkeyup="check_answer(this.value,this.id)"/>
    <img class="yes" src="{% static "images/correct.jpeg/" %}" style="visibility:hidden;" width=20 height=20/>
    <img class="no" src="{% static "images/wrong.jpeg/" %}" style="visibility:hidden;" width=20 height=20/>
    </form>
    {% endfor %}
    </ol>

    <script>
        add_id();
        alert("比赛开始");
    </script>
</body>

</html>
