<!DOCTYPE HTML>
<html>
<head>
<style>
    ul.errorlist{
    margin:0;
    padding:0;
    }
    .errorlist li {
    background-color: red;
    color: white;
    display:block;
    font-size:10px;
    margin: 0 0 3px;
    padding: 4px 5px;
    }
</style>
    <title>Register</title>
</head>
<body background="/images/baidu_home.jpg">
    <h1>注册页面</h1>

    {% if form.errors %}
        <p style="color: red;">
            粗心可不好哦,看看还有什么地方漏掉了
        </p>
    {% endif %}

    <form action="" method="post">
        {% csrf_token %}
        <table>
            {{form.as_table}}
        </table>
        <input type="submit" value="提交">
    </form>
    <a href="/home/">
        <input type="button" value="返回主页"/>
    </a>
</body>
</html>
